:root {
    --colorPrimary: #4da4f2;
    --colorPrimaryLight: #FFF;
    --colorPrimaryDark: #000000;
    --colorAccent: #EEE;
    --PrimaryHover: #EEE;
    --text: #434343;
    --textLight: #666666;
    --primaryBorderColor: var(--colorPrimary);
    --header: var(--colorPrimary);
    --background: var(--colorPrimaryLight);
    --nav: var(--colorPrimaryLight);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
}

/* header and navigation */
.top-header {
    background-color: var(--header);
    height: 8vh;
    min-height: 40px;
    width: 100vw;
    color: var(--colorPrimaryLight);
    position: static;
    font-size: 100%;
    font-family: Impact, Helvetica;
}

#main-title {
    display: inline-block;
    margin-top: 1%;
    vertical-align: middle;
}

.header-content > #sub-title {
    display: inline-block;
    float: right;
    margin-top: 1.3%;
    font-family: Helvetica;
}

.navbar .nav {
    height: 5vh;
    min-height: 46px ! important;
}

.nav {
    background-color: var(--nav);
    z-index: 1;
}

.navbar-right {
    display: block;
}

.navbar-brand,
.navbar-nav li a {
  height: 46px;
  line-height: 46px;
  padding-top: 0;
  margin: 0px;
  margin-bottom: 10px;
}

.navbar-nav .active a {
    background-color: var(--colorPrimaryLight) ! important;
    color: var(--colorPrimary) ! important;
    border-bottom: 1px solid var(--colorPrimary);
}

.welcome-user {
}

.navbar-nav li a:hover {
  background-color: var(--colorAccent) ! important;
}

.nav-wrapper {
    margin-top: 0px ! important;
    padding: 0px ! important;
}

.affix {
  top: 0px;
  width: 100%;

}

/* } random curly brace */

/* footer */

.footer-custom2 {
	background-color: var(--colorPrimaryDark);
}

.logo-img {
	height: 10%;
	width: 10%;
}



/* code made for about-us and opportunities pages */

.header-background {
  position: absolute;
  top: 35%;
  left: 35%;
  height: 17.5%;
  width: 30%;
  text-align: center;
  z-index: 0;
}

.title {
  font-size: 4.5vw;
  color: black;
  border-bottom: 3px solid var(--colorPrimary);
  margin: 12% 0 8% 0;
}

.one-third-margins {
    margin-left: 16.66%;
    margin-right: 16.66%;
}

.one-sixth-margins {
    margin-left: 8.333%;
    margin-right: 8.333%;
}
.team-member-section {
    position: relative;
    padding-top: 20px;
    border-top: 1px solid var(--primaryBorderColor);
    margin-bottom: 20px;
}
.team-member-paragraph-right {
    position: absolute;
}
#first-teammate {
    border-top: hidden;
}

/*code made for opportunities list */
.opportunities-header-background {
  position: absolute;
  background-color: rgba(152, 157, 183, .4);
  top: 25%;
  left: 15%;
  height: 20%;
  width: 70%;
  text-align: center;
  z-index: 0;   
}

.opportunities-title {
  font-size: 4.5vw;
  color: black;
}

.opportunities-body {
    margin-top: 3%;
}

.search-bar {
    height: 600px;
    padding-right: 0px;
    padding-top: 0px;
    border-right: solid;
    border-color: rgb(152, 157, 183);
}
.search-header {
    border-bottom: solid;
    border-color: rgb(152, 157, 183);
}
.search-header-text {
    padding-top: 0px;
    margin-top: 0px;
}

.opportunity-section {
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(152, 157, 183);
    height: 20%;
}
.opportunity-thumbnail {
    margin-top: 15%;
}

/* carousel code */
.carousel-items {
    width: 100vw;
    height: 80vh;
    background-color: var(--background);
}

.carousel-item-parent {
    height: 90%;
    width: 100%;
    margin: auto;
}
.carousel-item {
    height: 100%;
    margin: auto;
}

.carousel-img {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}

.carousel-header {
    background-color: var(--background);
}

.carousel-control.left, .carousel-control.right{
    background: none !important;
    filter: progid:none !important;>
}

.news-item {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 20%;
    width: 80%;
    background-color: var(--colorPrimary);
    opacity: 0.7;
    z-index: 1;
    
}

.news-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: var(--colorPrimaryDark);
    z-index: 2;
}

/* home page */

.main {
    background-color: var(--background);
}

.btn-home {
	background-color: var(--colorPrimary);
	text-align: center;
}

.img-home { /*not working */
	width: 90%;
	height: 90%;
}

.mainImg {
    width: 100vw;
}

.mainImg>.image-home {
    width: 100%;
    height: auto;
}

.main-title {
    font-size: 4.5vw;
    color: var(--colorPrimaryDark);
}

.sub-main-title {
    color: var(--colorPrimaryDark);
    margin-bottom: 2%;
}

.main-header-background {
    position: absolute;
    background-color: rgba(152, 157, 183, .7);
    top: 25%;
    left: 15%;
    height: 50%;
    width: 70%;
    text-align: center;
    z-index: 0;
}

.learn-more-main {
    background-color: var(--colorPrimary);
}

/* blog */

.blog-post {
    border-bottom: 1px solid var(--colorPrimary);
    padding: 5%;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-post > .blog-post-date {
    color: var(--textLight);
}

.blog-title {
    font-size: 4.5vw;
    color: var(--colorPrimaryDark);
}

.blog-header-background {
    position: absolute;
    background-color: rgba(152, 157, 183, .4);
    top: 25%;
    left: 15%;
    height: 20%;
    width: 70%;
    text-align: center;
    z-index: 0;
}

/* programs */

.program {
    height: 55vh;
    border-bottom: 1px solid var(--colorPrimary);
    margin-bottom: 5%;
}
.prog-title {
    font-size: 4.5vw;
    color: var(--colorPrimaryDark);
}

.prog-header-background {
    position: absolute;
    background-color: rgba(152, 157, 183, .4);
    top: 25%;
    left: 15%;
    height: 20%;
    width: 70%;
    text-align: center;
    z-index: 0;
}

.img-wrapper {
    position: relative;
    height: 45vh;
}

.img-wrapper>.prog-img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.info-wrapper {
    position: relative;
    height: 45vh;
}

.program-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prog-desc {
    font-size: 1.3em ! important;
}

.age-range {
    color: var(--textLight);
}