<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>LEAADS</title>
    <meta name = 'description' content = "Website for LEAADS">
    <meta name = 'author' content = "Epic Intentions">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/admin.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body {% block class %} {%endblock %}>
<!-- The navigation bar, it is fixed to the top and homepage has a scroll
 spy that fixes it once it passes the height of the initial viewport -->
<nav class="admin-header">
    <div class="container nav-wrapper">
        <h3 id="main-title" class="text-center">Administrator</h3>
    </div>
</nav>
<div class="navigation">
    <div class="list-group nav-lg text-center">
        <a href="#" class="list-group-item active-cust">
            Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action">Home</a>
        <a href="#" class="list-group-item list-group-item-action">Blog</a>
        <a href="#" class="list-group-item list-group-item-action">Opportunities</a>
        <a href="#" class="list-group-item list-group-item-action">Calendar</a>
        <a href="#" class="list-group-item list-group-item-action">Members</a>
    </div>
</div>

{% block content %}
{% endblock %}


</body>