{% extends 'admin-layout.html' %}

{%block extrastyle %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/cropper.min.css') }}">
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>
{% endblock %}

{%block content %}
<div class="text-center home-upload-wrapper admin-wrapper">
    <h2>Add photo</h2>
    <form method="post" style="display: inline-block; min-height: 30vh; margin-bottom: 4%;" enctype="multipart/form-data" id="photo-form">
        <div class="form-group row">
            <input type="file" id="home-photo" name="photo">
        </div>
        <div class="form-group row">
            <img id="show-img" src="#" alt="Once you select an image, you can resize it here"/>
        </div>
        <div class="form-group row">
            <img id="cropped-img" name="cropped-img" src="#" alt="">
        </div>
        <div class="form-group row">
            <button type="button" class="btn-default btn" id="cropButton">Crop</button>
        </div>
        <label for="caption">Caption</label>
        <div class="form-group row">
            <textarea name="caption" id="caption" class="form-control" style="width:100%;"></textarea>
        </div>
        <div class="form-group row">
            <button type="button" class="btn-default btn-lg btn" id="uploadimg">Upload</button>
        </div>
    </form>
    <h2>Current Photos in Slider</h2>
    <div class="photos" style="clear: both;">
        {% for photo in photos %}
            <div class="col-md-4">
                <div class="carous-img-wrapper" style="width:100%; height: 28vh;">
                    <img src="static/images/{{ photo[0] }}" style="width:100%;">
                </div>
                <p>Caption: {{ photo[1] }}</p>
                <button type="button" class="btn btn-default" onclick="deletePhoto('{{ photo[0] }}')">Delete</button>
            </div>
        {% endfor %}
    </div>
</div>
<script>

$("#cropButton").click(function() {
    var cropped = $("#show-img").cropper('getCroppedCanvas').toDataURL('image/png');
    $("#cropped-img").attr('src', cropped);
    $("#uploadimg").show()
});

$("#uploadimg").click(function() {
    $("#show-img").cropper('getCroppedCanvas').toBlob(function (blob) {
        var formData = new FormData();
        var fileName = $("#home-photo").val();
        formData.append('croppedImage', blob);
        formData.append('filename', fileName);
        $.ajax('/getImage', {
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
              console.log('Upload success');
              $("#photo-form").submit();
            },
            error: function () {
              console.log('Upload error');
            }
        });
    });
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        $('#show-img').attr('src', e.target.result);
        $('#show-img').cropper({
          aspectRatio: 16 / 9,
          scalable: false,
          zoomOnTouch: false,
          crop: function(e) {
            console.log(e.x);
            console.log(e.y);
            console.log(e.width);
            console.log(e.height);
            console.log(e.rotate);
            console.log(e.scaleX);
            console.log(e.scaleY);
          }
        });
    }

        reader.readAsDataURL(input.files[0]);
        $("#cropButton").show();
    }
    }

    $("#home-photo").change(function(){
    readURL(this);
});

function deletePhoto(photoName) {
        $.ajax({
            url: "/deletePhoto/" + photoName + "/",
            type: 'POST',
            data: {'photoName' : photoName},
            success: function(response) {
                window.location.href = '/admin_home';
            },
            error: function(error) {
                console.log(error);
            }
        });
};




</script>

{% endblock %}