{% extends 'layout.html' %}
{%block content %}
<div class>
    <img class="img-responsive blog-img" src="{{url_for('static', filename='images/school-pic.png')}}">
    <div class="blog-header-background">
        <h1 class="blog-title text-uppercase text-center"><strong>Blog</strong></h1>
    </div>
</div>

<div class="jumbotron main">
    {% for post in blogPosts %}
    <div class="blog-post container">
        <h4 class="blog-post-date">{{ post[0].strftime('%m-%d-%Y') }}</h4>
        <h2 class="blog-post-title">{{ post[4] }}</h2>
        <h3 class="blog-post-author"><i>{{ post[1] }}</i></h3>
        <p>
            {{ post[3] }}
        </p>
    </div>
    {% endfor %}

</div>
{% endblock %}