{% extends 'layout.html' %}
{% block prenav %}

<!-- Will eventually contain a slider of pictures from L.E.A.A.D.S.
 now it is just a pattern. -->
<div class="img">
    <img id="children-pic" src="{{url_for('static', filename='images/cool_pattern.png')}}">
</div>
{% endblock %}
{%block content %}

<!-- Rachel's Code -->

<body>
<div class="container-fluid jumbotron">
    
<p>L.E.A.A.D.S. is an organization that can nicely be described in one sentence right here.</p>
<p>Upcoming Opportunities</p>
<ul style="list-style-type:circle">
    <li>Opp#1</li>
    <li>Opp#2</li>
    <li>Opp#3</li>
</ul>
<p>What Do We Offer?</p>
<ul style="list-style-type:circle">
    <li>Opp#1 (Each of these are links)</li>
    <li>Opp#2</li>
    <li>Opp#3</li>
    <li>Opp#4</li>
</ul>

</div>
</body>

<!-- /Rachel's Code -->

{% endblock %}