<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>LEAADS</title>
    <meta name = 'description' content = "Website for LEAADS">
    <meta name = 'author' content = "Epic Intentions">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body {% block class %} {%endblock %}>


<!-- The navigation bar, it is fixed to the top and homepage has a scroll
 spy that fixes it once it passes the height of the initial viewport -->
<nav id="nav" class="navbar navbar-fixed-top navbar-default" role="navigation" data-spy="affix">
    <div class="container">

        <!-- Navbar used for smaller screens -->
        <div class="navbar-header">
            <button id="" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>



        <!-- Normal navbar -->
        <div id="myNavbar" class="collapse navbar-collapse row nav-wrapper" style="padding: 0px ! important; style: 80px">
            <a class="navbar-brand navbar-logo" href="{{ url_for('home') }}"><img class="img-responsive" src="{{url_for('static', filename='images/leaads-name-logo2.png')}}"></a>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li id="home-link" class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item dropdown" id="about-link">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('about_us') }}">About L.E.A.A.D.S.</a></li>
                            <li><a href="{{ url_for('overtheyears') }}">Over the Years</a></li>
                            <li><a href="{{ url_for('blog') }}">Blog</a></li>
                        </ul>
                    </li>
                    <li id="prog-link" class="nav-item"><a href="{{ url_for('programs') }}">Programs</a></li>
                    <li id="opp-link" class="nav-item"><a href="{{ url_for('opportunities_list') }}">Opportunities</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    {% if login or true %}
                    <li style="margin-top: 10px;" class="nav-item navbar-brand welcome-user">Welcome, <b>Anthony D'Achille!</b></li>
                    <li id="account-link" class="nav-item"><a href="{{ url_for('profile') }}">My Account</a></li>
                    <!--{% else %}
                    <li id="login-link" class="nav-item"><a data-toggle="modal"
                    style="margin-top: 0px;" data-target="#newProfile">Login</a></li>
                    {% endif %}-->
                </ul>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Footer -->
 <!--   <div class="container-fluid">
<p>
Contact Us: (555) 555-5555 | email@domain.com | 123 Street City, ST 12345
</p>
<p>
Find us on social media! <i>(This will be right aligned and contain clickable logos below.)</i>
</p>
</div> -->
    
<!-- footer style will be moved to css -->
<footer class="footer footer-custom2">
    <div class="container-fluid">
        <div class="row">

            <!-- Logo -->
            <div class="col-sm-4">
                <img class="footer-logo" src="{{url_for('static', filename='images/logo-sun2.png')}}">
                <p class="text-center">Here for a better future.</p>
            </div>

            <!-- Contact info and social media icons -->
            <div class="col-sm-8 footer-contact-info">
                <div class="col-sm-6">
                    <p class="text-center">Contact Us:</p>
                    <p class="text-center">(555) 555-5555 | email@domain.com | 123 Street City, ST 12345</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center">Find us on social media!</p>
                    <p class="text-center">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="https://www.google.com/gmail/about/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>

</body>

</html>
<!-- Modal -->
    <div class="modal fade" id="newProfile" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Login
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form method="POST">
                      <div class="form-group">
                        <label for="username">Username</label>
                          <input type="text" class="form-control"
                          id="question" name="text" placeholder="Username"/>
                      </div>
                      <div class="form-group">
                        <label for="pass">Password</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Password"/>
                      </div>
                      <div class="form-inline">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a class="btn btn-default add-q" role="button" data-dismiss="modal" data-toggle="modal"data-target="#newProfile1">Sign Up for a New Account</a>
                      </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newProfile1" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Sign Up
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form method="POST">
                      <div class="form-group">
                        <label for="username">Username</label>
                          <input type="text" class="form-control"
                          id="question" name="text" placeholder="Username"/>
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Email"/>
                      </div>
                      <div class="form-group">
                        <label for="pass">Password</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Password"/>
                      </div>
                      <div class="form-group">
                        <label for="pass">Confirm Password</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Re-enter Password"/>
                      </div>
                      <a class="btn btn-default add-q" role="button" data-dismiss="modal" data-toggle="modal"data-target="#newProfile2">Sign Up for an Account</a>
                      </div>


                    </form>
                </div>

            </div>
        </div>
      </div>

<!-- Modal -->
    <div class="modal fade" id="newProfile2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Create your Profile
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form method="POST">
                    <div class="form-group">
                        <label for="parent-name">Parent Name</label>
                        <input type="text" class="form-control"
                               id="parent-name" name="text" placeholder="Parent Name"/>
                    </div>
                      <div class="form-group">
                        <label for="name">Child Name</label>
                          <input type="text" class="form-control"
                          id="question" name="text" placeholder="Child Name"/>
                      </div>
                      <div class="form-group">
                        <label for="age">Age</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Age"/>
                      </div>
                      <div class="form-group">
                        <label for="gender">Gender</label>
                          <input type="text" class="form-control"
                          id="question" name="text" placeholder="Gender"/>
                      </div>
                      <div class="form-group">
                        <label for="email">Phone Number</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="Phone Number"/>
                      </div>
                      <div class="form-group">
                        <label for="explanation">How did you find out about L.E.A.A.D.S?</label>
                          <input type="text" class="form-control"
                              id="answer" name="answer" placeholder="How did you find out about L.E.A.A.D.S"/>
                      </div>

                      <div class="form-group">
                        <label for="explanation">Court Mandated Service</label>
                        <p>
                        <input type="checkbox" id="cbox1" value="first_checkbox">
                        <label for="cbox1">Yes</label>
                        </p>
                        <p>
                        <input type="checkbox" id="cbox2" value="second_checkbox">
                        <label for="cbox2">No</label>
                        </p>
                      </div>
                      <div class="form-inline">
                        <button type="submit" class="btn btn-primary">Create a Profile</button>
                      </div>


                    </form>
                </div>

            </div>
        </div>
    </div>

