<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>LEAADS</title>
    <meta name = 'description' content = "Website for LEAADS">
    <meta name = 'author' content = "Epic Intentions">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body {% block class %} {%endblock %}>
<header class="top-header">
    <div class="container nav-content">
        <div class="header-content">
            <h3 id="main-title">L.E.A.A.D.S</h3>
            <h4 id="sub-title">Law Enforcement Agencies Assisting in the Development of Students</h4>
        </div>
    </div>
</header>
{% block prenav %}
{% endblock %}
<nav class="nav navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-default">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Opportunities</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="#">My Account</a></li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>

</html>