<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>LEAADS</title>
    <meta name = 'description' content = "Website for LEAADS">
    <meta name = 'author' content = "Epic Intentions">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body {% block class %} {%endblock %}>

<!-- Header, not fixed, at the top of the initial viewport -->
<header class="top-header">
    <div class="container nav-content">
        <div class="header-content">
            <h3 id="main-title">L.E.A.A.D.S</h3>
            <h4 id="sub-title">Law Enforcement Agencies Assisting in the Development of Students</h4>
        </div>
    </div>
</header>

<!-- This is if anything is needed between the header and the navigation -->
{% block prenav %}
{% endblock %}

<!-- The navigation bar, it is fixed to the top and homepage has a scroll
 spy that fixes it once it passes the height of the initial viewport -->
<nav id="nav" class="nav navigation navbar-default affix-top" data-spy="affix">
    <div class="container">
        <div class="row nav-wrapper" style="padding: 0px ! important;">
            <div class="col-xs-6" style="height: 100%;">
                <ul class="nav navbar-nav navbar-left">
                    <li id="home-link" class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li id="about-link" class="nav-item"><a href="{{ url_for('about_us') }}">About Us</a></li>
                    <li id="opp-link" class="nav-item"><a href="{{ url_for('opportunities_list') }}">Opportunities</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="nav navbar-nav navbar-right">
                    {% if login %}
                    <li class="nav-item"><h3 class="navbar-brand welcome-user">Welcome, <b>{{ user }}!</b></h3></li>
                    <li id="account-link" class="nav-item"><a href="#">My Account</a></li>
                    {% else %}
                    <li id="login-link" class="nav-item"><a href="#">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>

</html>