{% extends 'layout.html' %}
{%block content %}
<!-- Main Picture -->
<div class>
  <img class="img-responsive" src="http://i.imgur.com/F5CLwOF.jpg">
  <div class="opportunities-header-background">
    <h1 class="title text-uppercase text-center"><strong>Featured Opportunities</strong></h1>
  </div>
</div>

<!-- Main Body -->
<div class="container-fluid">
  <div class="row opportunities-body">
    <div class="col-md-1"></div>
    
    <!-- Search bar-->
    <div class="col-sm-2 search-bar">
      <div class="search-header">
        <h3 class="search-header-text">Filter Results By: </h3>
      </div>
      <div>
        <p>Newest to Oldest</p>
        <p>Oldest to Newest</p>
        <p>Distance</p>
      </div>
      <div class="search-header">
        <h3 class="search-header-text">Type:</h3>
      </div>
      <div class="form-group" style="margin-top: 5%; padding: 2%;">
        <select class="selectpicker form-control">
          <option>All</option>
          <option>Volunteer</option>
          <option>Mentoring</option>
          <option>After-School Programs</option>
        </select>
      </div>
    </div>
    
    <div class="col-sm-1"></div>
    
    <!-- Opportunities Section-->
    <div class="col-sm-6 opportunities-section">
      
      <!--Opportunity 1-->
      <div class="row opportunity-section">
        <div class="col-sm-8">
          <h3>Opportunity Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-sm-4">
          <img class="img-thumbnail opportunity-thumbnail" src="http://i.imgur.com/kbFNf2N.png">
        </div>
      </div>
      <!--Opportunity 2-->
      <div class="row opportunity-section">
        <div class="col-sm-8">
          <h3>Opportunity Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-sm-4">
          <img class="img-thumbnail opportunity-thumbnail" src="http://i.imgur.com/kbFNf2N.png">
        </div>
      </div>
      <!--Opportunity 3-->
      <div class="row opportunity-section">
        <div class="col-sm-8">
          <h3>Opportunity Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-sm-4">
          <img class="img-thumbnail opportunity-thumbnail" src="http://i.imgur.com/kbFNf2N.png">
        </div>
      </div>
      
      <ul class="pager">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
      </ul>
    </div>
    
    <div class="col-md-1"></div>    
  </div>
  
  <div class="row">
    <div class="col-md-12 footer-placeholder">Footer will be here</div>
  </div>
  
</div>
{%endblock%}