{% extends 'layout.html' %}
{%block content %}
<!-- Main Picture -->
<div class="main-img">
  <img class="img-responsive" src="{{url_for('static', filename='images/opportunities-list.jpg')}}">
  <div class="opportunities-header-background">
    <h1 class="opportunities-title text-uppercase text-center"><strong>Featured Opportunities</strong></h1>
  </div>
</div>

<!-- Main Body -->
<div class="container-fluid">
  <div class="row opportunities-body">
    <div class="col-md-1"></div>

    <!-- Search bar-->
    <div class="col-sm-2 search-bar">
      <div class="search-header">
        <h3 class="search-header-text">Filter Results By: </h3>
      </div>
      <div>
        <p>Newest to Oldest</p>
        <p>Oldest to Newest</p>
        <p>Distance</p>
      </div>
      <div class="search-header">
        <h3 class="search-header-text">Type:</h3>
      </div>
      <div class="form-group" style="margin-top: 5%; padding: 2%;">
        <select class="form-control" id="selectpicker">
          <option value = "All">All</option>
          <option value = "Volunteer">Volunteer</option>
          <option value = "Job">Job</option>
          <option value = "Event">Event</option>
        </select>
        <button type="button" onclick="filter()">Search</button>
        <script>
          function filter() {
            var category = $( '#selectpicker').val();
            if (category == "All") {
                window.location.href = "/opportunities_list";
            } else {
                window.location.href = "/opportunities_list_category/" + category;
            }
          }
        </script>
      </div>
    </div>

    <div class="col-sm-1"></div>

    <!-- Opportunities Section-->
    <div class="col-sm-6 opportunities-section">
      {% for opp in opportunities %}
      <!--Opportunity 1-->
      <div class="row opportunity-section">
        <div class="col-sm-8">
          <h3>{{ opp[0] }}</h3>
            <h5><b>Date: </b>{{ opp[1] }} | <b>Time Commitment: </b>{{ opp[2] }}</h5>
            <h6><b>Location: </b>{{ opp[3] }}</h6>
          <p>{{ opp[5] }}
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="img-thumbnail opportunity-thumbnail" src="http://i.imgur.com/kbFNf2N.png">
            <a class="btn btn-default add-q" role="button" data-toggle="modal"
               style= "margin-top: 20px;" data-target="#newSignup">Sign Up</a>
        </div>

        </div>
        {% endfor %}


      <ul class="pager">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
      </ul>
    </div>

    <div class="col-md-1"></div>
  </div>

</div>
      <!-- Modal -->
<div class="modal fade" id="newSignup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Sign Up
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form method="POST">
                    <div class="form-group">
                        <label for="question">Name</label>
                        <input type="text" class="form-control"
                               id="question" name="text" placeholder="Enter Name"/>
                    </div>
                    <div class="form-group">
                        <label for="answer">Other Comments</label>
                        <input type="text" class="form-control"
                               id="answer" name="answer" placeholder="Comments"/>
                    </div>
                    <div class="form-inline">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- ------------------------------------------ -->
{%endblock%}