{% extends 'layout.html' %}
{%block content %}

<div class="container tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                    <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-_3M-pHdWyfIr__MPZOSsKPq1hBAUhdwl4MMkSKmtcEJRk0g">
                </span>

            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-7">
                <h4 class="blue">
                    <span class="middle">{{userInfo[0][2]}}</span>

                    <span class="label label-purple arrowed-in-right">
                        <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                        online
                    </span>
                </h4>

                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Gender </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][8]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Parent Name </div>

                        <div class="profile-info-value">
                            <span>{{ userInfo[0][10] }}</span>
                        </div>
                    </div>


                    <div class="profile-info-row">
                        <div class="profile-info-name"> Age </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][3]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][6]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Phone Number </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][9]}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Address </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][5]}}</span>
                        </div>
                    </div>
                </div>

                <div class="hr hr-8 dotted"></div>
                <div class="col-sm-1"></div>

            </div><!-- /.col -->
        </div>
    </div>
</div>

{% endblock %}