{% extends 'layout.html' %}
{%block content %}

<div class="container tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                    <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTz-_3M-pHdWyfIr__MPZOSsKPq1hBAUhdwl4MMkSKmtcEJRk0g">
                </span>

            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-7">
                <h4 class="blue">
                    <span class="middle">{{userInfo[0][2]}}</span>

                    <span class="label label-purple arrowed-in-right">
                        <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                        online
                    </span>
                </h4>

                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Gender </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][8]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Parent Name </div>

                        <div class="profile-info-value">
                            <span>{{ userInfo[0][10] }}</span>
                        </div>
                    </div>


                    <div class="profile-info-row">
                        <div class="profile-info-name"> Age </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][3]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][6]}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Phone Number </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][9]}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Address </div>

                        <div class="profile-info-value">
                            <span>{{userInfo[0][5]}}</span>
                        </div>
                    </div>
                </div>
                <div class="upcoming opportunities">
                    <h4>Upcoming Opportunities</h4>
                    <div class="panel-group" id="accordion">
                        {% for opp in opps %}
                        <div class="panel panel-default" class="opp-panel">
                            <div class="panel-heading container opp-info">
                                <div class="panel-left">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#opp_{{ loop.index }}">
                                            Title: {{ opp[1] }}</a>
                                    </h4>
                                    <h5>Date: {{ opp[3] }}</h5>
                                </div>
                                <div class="panel-right">
                                    <button class="btn btn-lg btn-default delete-btn" type="button" onclick='deleteSignUp("{{ opp[1] }}", "{{ user }}")'>Cancel</button>
                                </div>
                            </div>
                            <div id="opp_{{ loop.index }}" class="panel-collapse collapse">
                                <div class="panel-body">{{ opp[7] }}</div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <script>
                function deleteSignUp(opp, user) {
                    $.ajax({
                        url: "/deleteOppSignUp/" + opp + "/",
                        type: 'POST',
                        data: {'oppName' : opp, 'user': user},
                        success: function(response) {
                            window.location.href = '/profile';
                        },
                        error: function(error) {
                            console.log(error);
                        }
                 });
                };
                </script>

                <div class="hr hr-8 dotted"></div>
                <div class="col-sm-1"></div>
            </div>

            </div><!-- /.col -->
        </div>
    </div>

</div>

{% endblock %}