{% extends 'layout.html' %}
{%block content %}
<div class>
    <img class="img-responsive blog-img" src="{{url_for('static', filename='images/kids-sports.png')}}">
    <div class="prog-header-background">
        <h1 class="prog-title text-uppercase text-center"><strong>Programs</strong></h1>
    </div>
</div>
<div class="programs-wrapper">
    <div class="col-md-10 col-md-offset-1 col-sm-12 jumbotron main">
        <div class="program col-md-12 clearfix">
            <div class="col-md-6 col-sm img-wrapper clearfix">
                <img src="{{url_for('static', filename='images/learning.png')}}" class="prog-img col-sm-12">
            </div>
            <div class="col-md-6 col-sm info-wrapper clearfix">
                <div class="program-info col-sm-12">
                    <h2>Learning Center</h2>
                    <h4 class="age-range">Age group: Kids ages 0-18</h4>
                    <h5>Atlanta, GA</h5>
                    <p class="prog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                    <button type="button" class="btn btn-default program-button">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="program col-md-12 clearfix">
            <div class="col-md-6 col-sm img-wrapper clearfix">
                <img src="{{url_for('static', filename='images/summer-camp.png')}}" class="prog-img col-sm-12">
            </div>
            <div class="col-md-6 col-sm info-wrapper clearfix">
                <div class="program-info col-sm-12">
                    <h2>Summer Camp</h2>
                    <h4 class="age-range">Age group: Kids ages 0-18</h4>
                    <h5>Atlanta, GA</h5>
                    <p class="prog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                    <button type="button" class="btn btn-default program-button">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="program col-md-12">
            <div class="col-md-6 col-sm img-wrapper clearfix">
                <img src="{{url_for('static', filename='images/mentorship.png')}}" class="prog-img col-sm-12">
            </div>
            <div class="col-md-6 col-sm info-wrapper clearfix">
                <div class="program-info col-sm-12">
                    <h2>Foundations Youth, Leadership, and Mentoring Program</h2>
                    <h4>Age group: Kids ages 0-18</h4>
                    <h5>Atlanta, GA</h5>
                    <p class="prog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                    <button type="button" class="btn btn-default program-button">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}